<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Mesh Generation</title>
        <script type='text/javascript' src="../js/x3dom.js"></script>
        <link rel='stylesheet' type='text/css' href="../css/x3dom.css"></link>
        <link href="../css/MeshGenMainView.css" rel="stylesheet">
    </head>
    <body>
    	<div id="content"></div>
    	<script src="../js/MeshGenMainView.js"></script>
    </body>
</html>